{{!-- test --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Discover NASA with The Supernovas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/83d2cf995f.js" crossorigin="anonymous"></script>

</head>

<body>
    <section class="hero is-dark is-fullwidth">
        <!-- Hero header: will stick at the top -->
        <div class="hero-head">
            <header class="nav">
                <div class="container">
                    <div class="nav-left">
                        <a href="./" class="nav-item">
                            <img class="logo" src="https://www.festisite.com/static/partylogo/img/logos/nasa.png"
                                alt="logo pic">
                        </a>
                    </div>
                    <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <div class="nav-right nav-menu">

                        <form id="get-data-form" method='get'>

                            <input id="data-title" class="searchbar" type="text" placeholder="Search for Natural Event">

                            <button type="submit" id="get" class="btn-search"><img class="fa fa-search"
                                    src="/images/grey-search-icon.png"></img></button>
                        </form>

        </div>
        </header>
        </div>
        <div class='view-container'>
            {{{ body }}}
        </div>

        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <h4>Develop by The Supernovas</h4>
                </div>
            </nav>
        </div>
    </section>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/api.js"></script>

</body>

</html>